.calc-outline {
    border-width: 2px;
    border-style: solid;
    border: black;
    width: 300px;
    height: 400px;
    
}

.display {
    display: flex;
    height: 20%;
    border: black;
    border-style: solid;
    border-width: 2px;
}

.button {
    flex: 1;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.row {
    display: flex;
    flex: 1;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
}